/* Basic config ----------------------------------------------------------
---------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 1440px;
    margin: 0 auto;
}

.container {
    width: 65.3%;
    margin: 0 auto; 
}

/* Header config ----------------------------------------------------------
---------------------------------------------------------------------------*/

.header {
    background: url(../img/background/header.png) center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo {
    padding-top: 41px;
    margin-bottom: 317px;
}

.header__title {
    margin-bottom: 21px;
    font-size: 60px;
    font-family: 'Bebas Neue';
    line-height: 70.31px;
    letter-spacing: 5.71px;
    text-transform: uppercase;
    color: #ffffff;
}

.header__subtitle {
    margin-bottom: 221px;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

.header__scroll-btn {
    margin-bottom: 71px;
    font-weight: 600;
    font-size: 11px;
    line-height: 14,98px;
    letter-spacing: 3.7px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

/* Nav config ----------------------------------------------------------
---------------------------------------------------------------------------*/
.nav {
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: #ffffff;
    border-bottom: 1px solid #E6E6E6;
}

.nav-box {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    width: 8.45%;
    padding-top: 24px;
    margin-bottom: 23px;
}

.logo-black{
    object-fit: cover;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    width: 39.3%;
    margin-bottom: 24px;
    padding-top: 25px;
}

.nav__item {
    font-weight: 600;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    list-style-type: none;
}

.nav__link {
    color: #000000;
    text-decoration: none;
}

.nav__link:hover {
    color: #00a4e5;
}
 /* Burger config ----------------------------------------------------------
---------------------------------------------------------------------------*/

.nav__button {
    position: absolute;
    top: calc(50% - 14px);
    right: 20%;
    display: none;
    width: 30px;
    height: 28px;
    cursor: pointer;
}

.nav__button-burger {
    position: absolute;
    top: 13px;
    width: 30px;
    height: 2px;
    background-color: #141A20;
}

.nav__button-burger:before {
    content: '';
    position: absolute;
    bottom: 10px;
    width: 30px;
    height: 2px;
    background-color: #141A20;
}

.nav__button-burger:after {
    content: '';
    position: absolute;
    top: 10px;
    width: 30px;
    height: 2px;
    background-color: #141A20;
}

/* About config ----------------------------------------------------------
---------------------------------------------------------------------------*/

.about-box {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about__title {
    position: relative;
    margin-bottom: 67px;
    padding-top: 57px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2.31px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #000000; 
}

.about__title::after{
    content: '';
    position: absolute;
    top: 115%;
    left: 47.5%;
    width: 50px;
    height: 2px;
    background-color: #00a4e5;
}

.about__body {
    display: flex;
    justify-content: space-between;
}

.about__info {
    display: flex;
    flex-direction: column;
    width: 43.15%;
    text-align: left;
}

.about__info-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.19px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

.text__blue {
    color:  #00a4e5;
}

.about__cards {
    display: flex;
    justify-content: space-between;
    width: 48.8%;
    padding-top: 29px;
}

.about__card {
    width: 30.5%;
}

.about__card-title {
    width: 28.6%;
    padding-top: 15px;
    padding-left: 15px;
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 0.19px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: left;
    color: #ffffff;   
}

.about__card--left {
    background: url(../img/background/card-left.png);
}

.about__card--centre {
    background: url(../img/background/card-centre.png);
}

.about__card--right {
    background: url(../img/background/card-right.png);
}

/* Proposal config ----------------------------------------------------------
---------------------------------------------------------------------------*/

.proposal-box {
    display: flex;
    flex-direction: column;
    padding-top: 118px;
}

.proposal__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 78px;
}

.proposal__header-title {
    position: relative;
    margin-right: 150px;
    width: 22%;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2.31px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: left;
    color: #000000;   
}

.proposal__header-title::after{
    content: '';
    position: absolute;
    top: 102%;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: #00a4e5;
}

.proposal__header-text {
    width: 43.01%;
    font-weight: 400;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    color: #000000;
}

.button {
    width: 15.94%;
    height: 40px;
    border: none;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.5px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #00a4e5;
}
.button:hover {
    background-color: #141A20;
}

.proposal__cards {
    display: flex;
    justify-content: space-between;
}

.proposal__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31.35%;
    border: 1px solid #e6e6e6;
}

.proposal__card--left {
    background: url(../img/icons/card-left.png);
    background-repeat: no-repeat;
    background-position: 23px 38px;
}

.proposal__card--centre {
    background: url(../img/icons/card-centre.png);
    background-repeat: no-repeat;
    background-position: 23px 38px;
}

.proposal__card--right {
    background: url(../img/icons/card-right.png);
    background-repeat: no-repeat;
    background-position: 23px 38px;
}

.proposal__card-title {
    margin-bottom: 13px;
    padding-top: 138px;
    padding-left: 23px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.43px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

.proposal__card-text {
    margin-bottom: 39px;
    padding-left: 23px;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

/* Order config ----------------------------------------------------------
---------------------------------------------------------------------------*/

.order {
    text-align: center;
    background: url(../img/background/order.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.order-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order__title {
    width: 37.19%;
    padding-top: 120px;
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.15px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
} 

.order__button {
    margin-bottom: 231.24px;
}

/* Footer config ----------------------------------------------------------
---------------------------------------------------------------------------*/

.footer {
    background-color: #000000;
}

.footer-box {
    display: flex;
    flex-direction: column;
}

.footer__signup {
    display: flex;
    justify-content: center;
}

.footer__signup-title {
    padding-top: 35px;
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 22px;
    line-height: 29.96px;
    letter-spacing: 0.85px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

.footer__form {
    display: flex;
    justify-content: start;
    width: 42.5%;
    padding-top: 30px;
    margin-left: 70px;
    margin-bottom: 30px;
}

.form__mail {
    width: 62.5%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.07px;
    letter-spacing: 0.07px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

.form__button {
    width: 37.5%;
    height: 41px;
    padding-top: 11px;
    padding-bottom: 16px;
}

.footer__content {
    background-color: #141A20;
}

.footer__content-body {
    display: flex;
    justify-content: space-between;
}

.footer__content-title,
.footer__content-links,
.footer__content-contact {
    display: flex;
    flex-direction: column;
}

.footer__content-title {
    width: 26.57%;
}

.footer__subtitle {
    padding-top: 42px;
    margin-bottom: 19px;
    font-weight: 400;
    font-size: 11px;
    line-height: 14.98px;
    letter-spacing: 0.85px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
}

.footer__logo {
    margin-bottom: 15px;
}

.footer__content-text {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.85px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff; 
}

.footer__content-links {
    width: 27.84%;
}

.links__box {
    display: flex;
    justify-content: space-between;
}

.links__box-item {
    display: flex;
    flex-direction: column;
}

.links__box-link {
    list-style-type: none;
}

.links__box-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 0.85px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.links__box-text:hover {
    color: #00a4e5;;
}

.footer__content-contact {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;  
    width: 14.98%;
}

.address {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.contact__address,
.contact__tel,
.contact__mail {
    margin-bottom: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.85px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    text-decoration: none;
}

.footer__content-icons {
    width: 9.5%;
    margin-top: 72px;
}

.content-icons__list {
    display: flex;
    justify-content: space-between;
}

.content-icons__item {
    list-style-type: none;
}

.content-icons__link {
    display: block;
    width: 12px;
    height: 12px;
}

.icon {
    width: 12px;
    height: 12px;
}

.footer__copyright-text {
    padding-top: 22px;
    margin-bottom: 23px;
    font-weight: 400;
    font-size: 11px;
    line-height: 14.98px;
    letter-spacing: 0.85px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #ffffff;
}
